 .contenedor{        
    max-width: 120rem;
    margin: 0 auto;
 }

 img{
    border-radius: 2rem;
 }

 .visual{
    margin: 0 auto; 
    background-color: #D6EC8Ee9; 
    padding: 15px; 
    text-align: center; 
    width: 50%; 
    box-shadow: 10px 10px 10px grey;
    border-radius: 2rem;
 }

 html {
    box-sizing: border-box;
    font-size: 62.5%; 
}
*, *:before, *:after {
    box-sizing: inherit;
}

@media (max-width: 768px) {
    .visual{
        width: 90%;
    }    
    .contenedor{
        overflow-x: hidden;
        width: 100%; 
        margin: 0 auto;       
        padding: 2rem;
    }
    .formularios{
        width: 90%;
    }
    textarea{
        width: 100%;
    }    
}
@media (max-width: 650px) {
    .formularios input{
        width: 100%;
    }
    
}

@media (max-width: 320px) {
    .formularios input{
        width: 100%;
    }
    
}
